.passwordResetContainer{
    padding-top: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.3rem;
    min-height: 100vh;
    background-color: #aaf0d1;
}

.passwordResetContainer .ant-form{
    width: 300px;
}

.passwordResetContainer h1{
    margin: 10px;
    font-size: 2rem;
}

@media all and (max-width: 480px){
    .passwordResetContainer .ant-form{
        width: 80%;
    }

    .passwordResetContainer h1{
        font-size: 1.6rem;
    }
}