.subscribeForm{
  background: #aaf0d1;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-flow: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.subscribeForm input{
  font-size: 1rem !important;
  font-family: inherit;
  background-color: #84dcb5;
  color: black;
  border: 0;
  border-radius: 100px;
  padding: 20px;
  outline: none;
}

.subscribeForm button{
  background-color: #ffd29b;
  border: 0;
  font-family: inherit;
  border-radius: 10px;
  font-size: 1rem;
  width: 50%;
  padding: 10px;
  cursor: pointer;
}

.accountType{
  margin: 30px 0px;
  flex-flow: row;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0;
}

/* input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffd29b;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

label{
  margin-left: 10px;
} */

.subscribeRadio{
  padding: 10px;
  padding-right: 15px;
  border-radius: 100px;
  background-color: #84dcb5;
  margin: 0 10px;
  display: flex;
  place-items: center;
}

@media all and (max-width: 920px){
  .subscribeForm{
    padding: 20px;
    width: 70%;
  }

  .subscribeForm button{
    width: 80%;
  }
}