.burgerContent{
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 150px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd29b;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  width: 100%;
}

.burgerContentOpen{
  transform: translateY(0);
}

.burgerLink{
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
}
