.pointContainer{
  display: flex;
  flex-flow: column;
  padding: 20px;
  margin-right: 100px;
  border-radius: 15px;
  background-color: #ffd29b;
  color: black;
  max-width: 400px;
  height: fit-content;
}

.stackedPhone{
  width: 150px;
  height: auto;
  position: absolute;
  transform: rotate3d(1, 1, 1, 25deg);
}

.stackedPhoneFront{
  position: relative !important;
}

.whatWeOfferContentContainer{
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.offerSelector{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: #ffd29b;
  margin-bottom: 20px;
  border-radius: 10px;
}

.offerSelectorButton{
  cursor: pointer;
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  transition: all 0.2s;
}

.offerSelectorBorderLeft{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: solid;
  border-right-width: 0 !important;
  transition: all 0.2s;
}

.offerSelectorBorderRight{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: solid;
  border-left-width: 0 !important;
  transition: all 0.2s;
}

.offerSelectorButton:hover{
  font-size: 1.1rem;
}

.pointsContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.pointBox{
  width: 28%;
  padding: 20px;
  background-color: #aaf0d1;
  border-radius: 5px;
  box-shadow:
  0 0.3px 0.5px rgba(0, 0, 0, 0.017),
  0 0.8px 1.5px rgba(0, 0, 0, 0.025),
  0 1.8px 3.6px rgba(0, 0, 0, 0.033),
  0 6px 12px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: 3px solid #aaf0d1;
  min-width: 200px;
  min-height: 200px;
  flex: 1;
  margin: 20px;
}

@media all and (max-width: 480px){
  .pointBox{
    margin: 20px 0;
  }
}