.point-container{
  display: flex;
  flex-flow: column;
  padding: 20px;
  margin-right: 100px;
  border-radius: 15px;
  background-color: #ffd29b;
  color: black;
  max-width: 400px;
  height: fit-content;
}

.stacked-phone{
  width: 150px;
  height: auto;
  position: absolute;
  transform: rotate3d(1, 1, 1, 25deg);
}

.stacked-phone-front{
  position: relative !important;
}

.what-we-offer-content-container{
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.offer-selector{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: #ffd29b;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.offer-selector-button{
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  transition: all 0.2s;
}

.offer-selector-button:hover{
  font-size: 1.1rem;
}

.points-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.point-box{
  width: 28%;
  padding: 20px;
  background-color: #aaf0d1;
  border-radius: 5px;
  box-shadow:
  0 0.3px 0.5px rgba(0, 0, 0, 0.017),
  0 0.8px 1.5px rgba(0, 0, 0, 0.025),
  0 1.8px 3.6px rgba(0, 0, 0, 0.033),
  0 6px 12px rgba(0, 0, 0, 0.05);
  height: 120px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: 3px solid #aaf0d1;
}