body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif !important;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  height: 100%;
}

h1{
  font-weight: 700 !important;
}

h2{
  display: block !important;
  font-size: 1.5em !important;
  margin-block-start: 0.83em !important;
  margin-block-end: 0.83em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: bold !important;
}

#root{
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.full {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.green-background{
  background-color: #aaf0d1 !important;
}

.orange-background{
  background-color: #ffd29b !important;
}

.basic-container {
  padding-top: 120px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 1.3rem;
  min-height: 100vh;
  background-color: #aaf0d1;
}

img {
  /* image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; */
  max-width: 80vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-btn-primary {
  background-color: #ffd29b !important;
  background: #ffd29b !important;
  border-color: #ffd29b !important;
  color: black !important;
}

.App-link {
  color: #61dafb;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffd29b;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

label {
  margin-left: 10px;
}

.featureImageContainer{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
}

.featureImageContainer div{
  position: relative !important;
}

.featureImageContainer div > div{
  position: absolute !important;
  height: 0;
}


.sideBySideImage{
  /* height: 70%; */
  height: auto !important;
  width: auto !important;
  min-width: 200px !important;
  min-height: 400px !important;
  object-fit: contain;
  position: relative !important;
  z-index: 1;
  max-height: 70vh !important;
}

@media all and (max-width: 920px){
  .sideBySide{
    flex-flow: column !important;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
}

@media all and (max-width: 920px) {
  .landing-text-content {
    overflow-x: hidden;
  }

  .featureImageContainer{
    width: 100%;
  }
  
  .full {
    height: auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (min-width: 2000px) {
  body {
    font-size: 20px;
  }
}
